:root{
    --max-width      : 1240px;
    
    --white             : #202124; 
    --whiteRGB          : 40, 40, 40;
    --black             : #202124;
    --blackRGB          : 255, 255, 255;
    --primaryColor      : #4880FF;
    --primaryColorRGB   : 72, 128, 255;

    @media (prefers-color-scheme: light) {
        --white             : #fafbfc;
        --whiteRGB          : 250, 251, 252;
        --pureWhite         : #ffffff;
        --black             : #213547;
        --blackRGB          : 32, 33, 36;
        --copy             : #5d5d5d; // #213547;
        --copyRGB          : 93, 93, 93; // 32, 33, 36;
        --red               : red;
    }
}

$xxl            : 1480px;
$xl             : 1376px;
// $xl             : 1280px;
$lg             : 960px;
// $lg             : 992px;
$md             : 768px;
$sm             : 415px;
$xsm            : 0px;